@tailwind base;
@tailwind components;
@tailwind utilities;

.create-btn {
  border: 1px solid #e5e7eb;
  padding: 0.5rem 0;
  width: 9rem;
  border-radius: 1rem;
  font-weight: 400;
  background-color: #5468d5;
  color: whitesmoke;
}
.create-btn:hover {
  color: #5468d5;
  background-color: whitesmoke;
  
}
table {
  border: 1px solid #e5e7eb;
}
table tr td {
  padding: 10px;
}

table thead th {
  color: #5468d5;
  padding: 9px;
}

table tbody tr:hover {
  background-color: #e5e7eb;
}

table td {
  text-transform: capitalize;
  font-weight: 500;
  color: #64748b;
}

thead,
tr:nth-of-type(even) {
  background: #f3f4f6;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

form input:focus {
  outline: none;
}
